@tailwind base;
@tailwind components;
@tailwind utilities;

.fp-watermark{
  display: none;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

.swiper {
  width: 100%;
  height: 100%;
}

@keyframes floating {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.animate-floating-shape {
  animation: floating 6s ease-in-out infinite;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }


